!/debian/source/
.DS_Store
/.gitignore.dist
/debian/*.debhelper.log
/debian/*.substvars
/debian/*/
/debian/debhelper-build-stamp
/debian/files

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf
.idea/markdown.xml
.idea/deployment.xml
.idea/symfony2.xml
.idea/webServers.xml
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
