debian/stsbl-iserv-advanced-privilege/*
debian/stsbl-iserv-advanced-privilege.debhelper.log
debian/stsbl-iserv-advanced-privilege.substvars
debian/files
debian/debhelper-build-stamp
/Makefile.iservmake
/system-locale
!/locale/templates/*_misc.pot
/public/assets
/.php-cs-fixer.cache
