location /iserv/stsbl/advanced-privilege/ {
    root /usr/share/iserv/stsbl-iserv-advanced-privilege/app/public;

    include fastcgi_module_params;
    fastcgi_param SCRIPT_NAME /iserv/stsbl/advanced-privilege/index.php;

    fastcgi_pass unix:/run/php/php-fpm.stsbl-iserv-advanced-privilege.sock;
}
