Source: stsbl-iserv-advanced-privilege
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-iserv,
               dh-sequence-stsbl,
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-advanced-privilege

Package: stsbl-iserv-advanced-privilege
Architecture: all
Depends: iserv-portal,
         stsbl-iserv3-maintenance,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Erweiterte Rechte-Verwaltung für IServ
 Enthält einen Rechteeditor für die IServ 3-Oberfläche, der es erlaubt nach
 anpassbaren Kriterien Rechte und Gruppenmerkmale zu mehreren Gruppen auf
 einmal hinzuzufügen.
 .
 https://it.stsbl.de/wp-content/uploads/2017/01/stsbl-iserv-advanced-privilege.png
 .
 Dabei können folgende Kriterien angewandt werden:
 .
 - Name der Gruppe enthält.
 - Name der Gruppe beginnt mit.
 - Name der Gruppe endet mit.
 - Namen der Gruppe gegen eine regulären Ausdruck prüfen.
Tag: suite::iserv:portal, role::plugin, status::recommended, implemented-in::php
