Source: stsbl-iserv-advanced-privilege
Section: non-free/misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends:
  debhelper-compat (= 13),
  dh-sequence-iserv,
  dh-sequence-stsbl,
  dpkg-dev,
Standards-Version: 4.5.0
Homepage: ${iserv:Homepage}

Package: stsbl-iserv-advanced-privilege
Architecture: all
Xb-Private-Iserv-Revision: ${iserv:Revision}
Depends: ${misc:Depends},
  ${perl:Depends},
  adduser,
  iserv-portal-web,
  iserv-server-nginx,
  iserv-server-php,
  iserv-update,
  php-cli (>= 0),
  php-fpm (>= 0),
  php-intl (>= 0),
  php-mbstring (>= 0),
  php-xml (>= 0),
  stsbl-iserv3-maintenance,
Description: Erweiterte Rechte-Verwaltung für IServ
 Enthält einen Rechteeditor für die IServ-Verwaltung, der nach anpassbaren
 Kriterien Rechte und Gruppenmerkmale zu mehreren Gruppen auf einmal hinzufügt
 oder entfernt sowie Gruppenbesitzer setzt oder entfernt.
 .
 Dabei können Gruppen nach Name enthält, beginnt mit, endet mit oder per
 regulärem Ausdruck ausgewählt werden.
Tag: suite::iserv, suite::iserv:bundle-cloud, suite::iserv:bundle-full, suite::iserv:portal, role::plugin
